* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.otherflex {
         margin:0;
         padding:0;
         height: 100%;
        }
.AppFlex{
  display: flex;
  height: 100%;
}



@media screen and (max-width:600px) and (min-width:200px) {
.App{
  overflow-x: hidden;
  
}

        .navappflex {
          margin-right: 10%;
        }
    
} 